# EXPO_PUBLIC_ variables are embedded in the app and must never contain secrets.
# Android emulator: http://10.0.2.2:8000
# iOS simulator: http://localhost:8000
# Physical device: http://<development-machine-LAN-IP>:8000
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000
